/* All of this css is vert self explanitory */
#h-center{
    align-content:end;
}

#id{
    align-content: center;
}

body{
    background-color: #FFFDF2;
}

/* Make the table scrollable and make the scroll lock on table rows / columns, got help from dcode on youtube, https://www.youtube.com/watch?v=uMtyxRSqxIk*/
.scrollable-table{
    height: 77vh;
    overflow-y: auto;
    overflow-x: auto;
    margin-top: 50px;
    scroll-snap-type:both mandatory;
    width: 100%;
}

.table tr{
    scroll-snap-align: start;
}

.table{
    table-layout: fixed;
}

.table th{
    color: #FFFDF2;
    background-color: #970747;
    border-color: #FFC0CB;
    border-style: solid;
    border-right-width: 2px;
    padding: 6px, 8px;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 0;
    width: 75px!important;
    max-width: 75px;
    scroll-snap-align: start;
}

.table th#blank{
    color: #FFC0CB;
    background-color: #FFC0CB;
    border-color: #FFC0CB;
    border-style: solid;
    border-width: 0px;
    padding: 6px, 8px;
    z-index: 1;
    width: 75px!important;
    max-width: 75px;
}

.table td{
    color: #970747;
    background-color: #FFFDF2;
    border-color: #FFC0CB;
    border-style: solid;
    border-width: 2px;
    padding: 6px, 8px;
    scroll-snap-align: start;
}

div#header{
    color: #FFC0CB;
    background-color: #970747;
}

input {
    color: #970747;
    background-color: #FFC0CB;
    border-color: #970747;
}

input:focus, .ui-slider-handle:focus{
    outline: 0px;
}
button:active{
    color: #FFC0CB;
    background-color: #970747;
    border-color: #FFC0CB;
    margin-top: 25px;
}

button{
    background-color: #FFC0CB;
    color: #970747;
    border-color: #970747;
    margin-top: 25px;
}

input.num {
    max-width: 50px;
    color: #FFFDF2;
    background-color: #FFC0CB;
    border-color: #970747;
}

input.error {
    color: black;
}

.error{
    color: black;
    font-style: italic;
}

h3{
    color: #970747;
    text-decoration-line: underline;
    width:fit-content;
    margin: auto;
    align-content: end;
}
.col {
    background-color: #FFFDF2;
    color: #970747;
    overflow-y: scroll;
    min-height: 24px;
}

#error-col{
    min-height: 0;
}

ul {
    list-style-type: square;
    list-style-position: inside;
    text-align: left;
    padding-left: 46%;
}

.slider {
  width: 60%;
  margin: 10px auto;
}

.ui-slider-horizontal {
  background: #FFC0CB!important;
  border: 1px solid #5c151b!important;
  height: 8px;
  border-radius: 4px;
}

.ui-slider-handle {
  background: #5c151b!important;
  border: 0px solid #FFC0CB!important;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  top: -5px;
}


